
#RegisterBlock
{
	margin-top:-50px;
}

#backButton
{
	float:left;
	margin:0px;
	margin-left:-330px;
	margin-top:-735px;
}
#input_submit
{
	margin-top:70px;
}

.message
{
	margin-top:20px;
}

#RedEagleIconBlock
{
	width:60px;
	height:60px;
	margin:auto;
	margin-top:20px;
	margin-bottom:10px;
	overflow:visible;
}
#RedEagleIcon
{
	max-width:100%;
	max-height:100%;
}